*{
    overscroll-behavior: none;
    font-family: Consolas;
    font-size: 1.12em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
button{
    outline:none;
}
button:focus{
    border: none;
}
#home > button{
    margin: 15px auto;
    width: 30%;
    height: 10%;
    min-width: 300px;
    max-height: 90px;
    display: block;
    border: 2px black solid;
    border-radius:10px;
    background: rgb(255, 255, 255);
}
#game{
    width: 100%;
	height: 100%;
    display: inline-block;
    border: 5px black solid;
    border-radius:10px;
}
#home{
    margin: 0px auto;
    width: 60%;
	height: 100%;
}
#play{
    margin: 0px auto;
    width: 100%;
    height: 100%;
    position: relative;
}
#icon-area{
    margin: 0px auto;
    width: 300px;
	height: 300px;
}
#pause{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 70px;
    height: 70px;
    background: url(./icons/1556866831772.png) no-repeat;
    background-size: 100% 100%;
    border: none;
}
#submit{
    position: absolute;
    bottom: 3%;
    left: 80%;
    width: 130px;
    height: 65px;
    border: 2px black solid;
    border-radius:10px;
    background: rgb(255, 255, 255);
}
#canvas-area{
    margin: 0px auto;
    width: 60%;
    height: 100%;
    border: 2px black solid;
    border-radius:10px;
    background: rgb(255, 255, 255);
}
#timemoveblock{
    position: absolute;
    top: 10%;
    left: 80%;
}
#timemoveblock > div{
    padding: 5px;
    margin-top: 5px;
    border: 2px black solid;
    border-radius:10px;
    background: rgb(255, 255, 255);
    white-space:nowrap;
    width: max-content;
}
#pauseBackgroundPage{
    z-index: 99;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
#pausePage{
    margin: 0px auto;
    width: 500px;
    height: 250px;
    position: relative;
    transform:translateY(50%);
    border: 2px black solid;
    border-radius:10px;
    background: rgb(255, 255, 255);
}
#pausePage > button{
    margin: 15px auto;
    display: block;
    border: 2px black solid;
    border-radius:10px;
    background: rgb(255, 255, 255);
}
#setting{
    margin: 0px auto;
    width: 60%;
}
#brickNumSetting{
    width: 500px;
    margin: 250px auto 0px auto;
}
#brickNumSetting > div, button{
    display: inline-block;
}
#decreaseBrickCount{
    position: relative;
    top: 10px;
    margin-bottom: -15px;
    height: 50px;
    width: 50px;
    background: url(./icons/1556873803523.png) no-repeat;
    background-size: 100% 100%;
    border: none;
}
#increaseBrickCount{
    position: relative;
    top: 10px;
    margin-bottom: -15px;
    width: 50px;
    height: 50px;
    background: url(./icons/1556873791942.png) no-repeat;
    background-size: 100% 100%;
    border: none;
}
#BrickCount{
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 3px;
    border: 2px black solid;
}
#brickStyleSetting{
    width: 500px;
    height: 250px;
    margin: 0 auto;
}
#brickShow{
    width: 90%;
    height: 200px;
    border: 2px black solid;
}
#achievement{
    margin: 0px auto;
    width: 60%;
}
#achievement > div{
    margin: 10px 0;
}
#normal-area > div{
    margin: 5px 0;
    border: 2px black solid;
    border-radius:10px;
    padding: 2px;
}
#normal-area > .locked{
    background: rgb(255, 255, 255);
}
#normal-area > .unlocked{
    background: rgba(0, 0, 0, 0.25);
}
#special-area > div{
    margin: 5px 0;
    border: 2px orange solid;
    border-radius:10px;
    padding: 2px;
}
#special-area > .locked{
    background: rgb(255, 255, 255);
}
#special-area > .unlocked{
    color: white;
    background: rgb(255, 165, 0);
}
#hide-area > div{
    margin: 5px 0;
    border: 2px black solid;
    border-radius:10px;
    padding: 2px;
}
#hide-area > .locked{
    background: rgb(255, 255, 255);
}
#hide-area > .unlocked{
    color: white;
    background: black;
}
#gohome{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 70px;
    height: 70px;
    background: url(./icons/1556869699566.png) no-repeat;
    background-size: 100% 100%;
    border: none;
}
#volumeSetting{
    margin: 0 auto;
    width: fit-content;
}
#volume_icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(./icons/1556872401455.png) no-repeat;
    background-size: 100% 100%;
    border: none;
}
#volume{
    position: relative;
    top: -15px;
    margin-left: 30px;
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    background-color: #d7dbdd;
    height: 16px;
    border-radius: 3px;
    border: 1px solid transparent;
    opacity: 0.7;
}
#volume:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: #606670;
    height: 28px;
    width: 28px;
    margin-top: -0px;
}
#output{
    display: inline-block;
    position: relative;
    top: -15px;
    margin-left: 8px;
    white-space:nowrap;
    width: 50px;
}